<ion-header>
 <ion-navbar color="primary" >
    
   <div style="text-align: center;">
    <img *ngIf="icon =='B'" class="left" height="62" width="100" src="birthday2.svg" >
    <img *ngIf="icon =='C'" class="left" height="62" width="200" src="cash-back2.svg" >
    <img *ngIf="icon =='E'" class="left" height="62" width="200" src="events2.svg" >
    <img *ngIf="icon =='P'" class="left" height="62" width="200" src="promotion2.svg" >
    <img *ngIf="icon =='V'" class="left" height="62" width="220" src="voucher-icon2.svg" > 

 
     </div >
  </ion-navbar>
</ion-header>

<ion-content padding>
  
   <textarea rows="6">
{{subpage}}
 </textarea>
</ion-content>
