page-mapinfo {
p {color:#FFFABC;
  font-size: 200%;
}

div.spacer
{
    font-size: 0; 
    height:6%;
    line-height: 0;
}
ion-col.noselect{
color:white;
background-color:#603814;
   border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color:#D5B114;
    

}



}

